.team,
.team img,
.team a,
.team p,
.team div,
.team h3 {
	box-sizing: initial;
}

.team--nav-wrapper {
	position: relative;
}
.team--nav-menu {
	margin-left: 25px;
	margin-right: 25px;
}
.team--nav-scroll {
	position: absolute;
	width: 20px;
	height: 34px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
	top: -5px;
}

.team--nav-scroll.rigth {
	transform: rotate(180deg);
	right: 15px;
}

.team--nav-wrapper:hover img {
	opacity: .6;
}

@media (min-width: 1200px) {
	.team--nav-menu {
		margin-left: 0px;
		margin-right: 0px;
	}
	.team--nav-wrapper:hover img {
		opacity: 0;
	}
}

.container p {
	margin: 15px 0 15px 0;
}
.card--email {
  display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	background-color: #ebecef;
  border: none;
  letter-spacing: -0.5px;
}
.team--group .card--email p {
	letter-spacing: .01rem;
}

.show-email{
  display: flex;
}
.card--email-container{
  position: relative;
  border-radius: 9px;
  border: 3px solid #f2f2f2;
  overflow: hidden;

}

.card--email-team-member{
  display: flex;
  position: absolute;
	background-color: #ebecef;
	font-size: 15px;
  border: none;
  letter-spacing: -0.5px;
  width: 100%;
	height: 30px;
	justify-content: center;
	align-items: center;
	bottom: 0;

}

.team--detail img {
  max-width: 100%;
  border: none;
}

