.sub-hero {
	padding: 120px 0 0;
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.sub-hero h1 {
	font-weight: 500;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: 0.01rem;
	color: #000;
	padding-left: 16px;
	border-left: 3px solid #f2f2f2;
}

.sub-hero h1.no-border {
	padding-left: 0;
	border: 0;
}

.sub-hero .category {
	font-weight: 500;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;
	display: inline-block;
	margin: 0 0 16px;
	border: 2px solid #d1d3d4;
	color: #000;
	border-radius: 10rem;
	padding: 7px 20px;
	font-size: 12px;
	letter-spacing: .01rem;
}

.sub-hero .category:hover {
	border-color: #000;
	background: #f2f2f2;
}

.sub-hero h2 {
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: .01rem;
	color: #000;
	text-align: left;
	margin: 0;
	padding-left: 16px;
	border-left: 3px solid #f2f2f2;
}

.sub-hero h2.no-border {
	padding-left: 0;
	border: 0;
}

.container.content {
	padding: 48px 0 96px;
}

.news--group {
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
	border: 3px solid #f2f2f2;
	border-radius: 9px;
	padding: 48px 24px 48px 36px;
	margin-bottom: 24px;
	/* width: calc(100% - 24px); */
	position: relative;
	overflow: hidden;
}

.news--group:hover {
	border-color: #fefc00;
}

.news--group:hover .news--group-title a {
	border-color: rgba(0, 0, 0, 0.75) !important;
}

.news--group-date {
	background: #f2f2f2;
	border-radius: 10rem;
	display: inline-block;
	padding: 6px 16px 5px;
	margin-bottom: 32px;
	font-size: 14px;
}

.news--group-title {
	font-weight: 500;
	letter-spacing: 0.01rem;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 0;
	max-width: calc(100% - 48px);
}

.news--group-title,
.news--group-title a {
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
}

.news--group-title a {
	border-bottom: 2px solid transparent;
}

.news--group-title a:hover {
	border-color: rgba(0, 0, 0, 0.75);
}

.news--group-intro {
	font-weight: 400;
	letter-spacing: 0;
	font-size: 14px;
	line-height: 19px;
	margin-top: 8px;
	max-width: calc(100% - 48px);
}

.news--group-link {
	margin-top: 32px;
	margin-bottom: 0;
}

.news--group-link .cta {
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
	font-weight: 500;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	padding: 8px 16px;
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-radius: 50rem;
	background: none;
	color: #000;
}

.news--group-link .cta:hover {
	border-color: #000;
	background: rgba(0, 0, 0, 0.1);
}

.news--detail {
	width: calc(100% - 128px);
	margin-left: 0;
}

@media (max-width: 767px) {
	.news--detail {
		width: 100%;
	}
}

.news--detail-date,
.news--detail-tag {
	background: #f2f2f2;
	border-radius: 10rem;
	display: inline-block;
	padding: 6px 16px 5px;
	margin-bottom: 32px;
	font-size: 14px;
}

.news--detail-content {
	font-weight: 400;
	line-height: 1.61;
	letter-spacing: 0;
	font-size: 15px;
	line-height: 21px;
	padding-left: 6px;
}

.news--detail-content p {
	margin: 15px 0 15px 0;
}

.news--detail-content ol,
.news--detail-content ul {
	margin: 0 0 20px 24px;
	padding: 0;
}

.news--detail-content ol li,
.news--detail-content ul li {
	padding: 0;
}

.news--detail-content ol li p,
.news--detail-content ul li p {
	margin: 0;
}

.news--detail-content a {
	display: inline-block;
	position: relative;
	text-decoration: underline;
}

.news--detail-content blockquote {
	padding: 6px 24px;
	width: calc(100% - 64px);
	position: relative;
	margin: 15px 0 15px 16px;
}

.news--detail-content blockquote:before {
	content: "";
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	width: 6px;
	min-width: 6px;
	border-radius: 18px;
	height: 100%;
	background: #f2f2f2;
}

.news--detail-content img {
	max-width: 100%;
}

.news-media {
	box-sizing: border-box;
	padding: 16px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.news-media video {
	height: 100%;
	outline: none;
	border: 1px solid #000;
}

.news-media img,
.news-media video {
	width: 100%;
	max-width: 600px;
}
