<header class="header-component">
  <a aria-current="page" class="header--nav-logo" data-href="home">
    <img data-src="logo" alt="Snap Logo">
    Snap Research
  </a>

  <div class="header--nav-items">
    <a class="header--nav-link" data-href="team">Team</a>
    <a class="header--nav-link" data-href="publications">Publications</a>
    <a class="header--nav-link" data-href="news">Research News</a>
    <a href="https://snap.submittable.com/submit" target="_blank" rel="noopener noreferrer" class="header--nav-link">Internships</a>
    <a href="https://www.snap.com/jobs/?teams=Research" target="_blank" rel="noopener noreferrer" class="header--nav-link">Careers</a>
  </div>
</header>
