<div class="col">
  <div class="card"><a data-href="url">
      <div class="card-inner">
        <div class="card--bg-image-outer">
          <img class="card--bg-image-inner" data-src="imageUrl" alt="">
          <div class="card--copy">
            <p class="mb-0" data-content="name"></p>
          </div>
          <div class="card--email" data-class="showEmail">
            <div class="card--email-text" data-content="email"></div>
          </div>
        </div>
      </div>
    </a></div>
</div>